In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer, TfidfVectorizer

In [2]:
from nltk.corpus import stopwords

In [61]:
with open('small_log.txt') as f_in:
    data = f_in.readlines()

len(data)

621712

In [69]:
with open('logs.txt') as f_in:
    data = f_in.readlines()
len(data)

39789519

In [71]:
new_data = data[::2]

In [77]:
new_data = new_data[::2]
len(new_data)

2117692

In [78]:
new_text = []
for i in data:
    text = i.replace('|text', '')
    text = text.replace('\n', '')
    new_text.append(text)

In [79]:
text = pd.DataFrame(new_text, columns=['text'])

In [80]:
text.head(5)

                                                text
0                                           datakam
1                           yuxuda kız usagi gormek
2                                             порно
3                                        цефотаксим
4   вертикальном цилиндрическом сосуде над поршне...

In [8]:
stopWords = stopwords.words('russian')
count_vec = CountVectorizer(binary=True, stop_words=stopWords)

In [9]:
matrix_count_vec = count_vec.fit_transform(data['text'])

In [10]:
%%time
matrix_count_vec_df = pd.DataFrame(matrix_count_vec.toarray(), columns=None)

CPU times: user 2.28 s, sys: 4.98 s, total: 7.26 s
Wall time: 8.9 s

In [11]:
matrix_count_vec_df.head()

,0,1,2,3,4,5,6,7,8,9,...,278617,278618,278619,278620,278621,278622,278623,278624,278625,278626
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
from sklearn.cluster import KMeans

In [14]:
cluster = KMeans(n_clusters=30)

In [ ]:
cluster.fit(matrix_count_vec_df)

In [81]:
stopWords = stopwords.words('russian')

In [82]:
vectorizer = TfidfVectorizer(stop_words=stopWords)
X = vectorizer.fit_transform(text['text'])

In [ ]:
true_k = 10
model = KMeans(n_clusters=true_k, init='k-means++', max_iter=100, n_init=1)
model.fit(X)

In [68]:
print("Top terms per cluster:")
order_centroids = model.cluster_centers_.argsort()[:, ::-1]
terms = vectorizer.get_feature_names()
for i in range(true_k):
    print("Cluster %d:" % i),
    for ind in order_centroids[i, :10]:
        print(' %s' % terms[ind], end=' '),
    print()

Top terms per cluster:
Cluster 0:
 скачать  2018  сайт  погода  купить  официальный  фильм  авито  фото  секс
Cluster 1:
 сегодня  программа  передач  футбол  телепрограмма  новости  гороскоп  тв  курс  каналы
Cluster 2:
 улица  актеры  роли  сезон  сериал  фильма  фильм  дом  серия  смотреть
Cluster 3:
 видео  порно  секс  бесплатно  смотреть  скачать  2018  онлайн  русское  майнкрафт
Cluster 4:
 футболу  2018  мира  чемпионат  чм  расписание  таблица  турнирная  матчей  чемпионата
Cluster 5:
 вк  одноклассники  ютуб  страница  социальная  сеть  вход  музыку  скачать  ок
Cluster 6:
 онлайн  смотреть  сбербанк  бесплатно  хорошем  качестве  слушать  фильмы  фильм  канал
Cluster 7:
 россия  хорватия  испания  июля  уругвай  египет  2018  матч  июня  саудовская
Cluster 8:
 порно  русское  смотреть  онлайн  365  бесплатно  фильмы  домашнее  hd  фото
Cluster 9:
 образец  журнал  заполнения  2018  договор  заявление  заявления  резюме  работу  акт